<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Diseño Válido Por Esteban</title>
    <!-- Forma profesional de enlazar el CSS en el <head> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_2_3_3.css') }}">
   
</head>
<body>
    <h1> Prueba De Archivos Estáticos. </h1> 
    <img src="{{ url_for('static', filename='img/Fernando Alonso f1 wallpaper(1).jpeg') }}" alt="Logo"> width="500"> 
</body>
</html>
